* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 75%;
}

.right {
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row:header {
  margin: 20px;
}

.row {
  padding: 15px;
  padding-left: 20px;
}

.header {
  background-color: #dddddd;
}

.key {
  margin: 15px;
}
.output-row {
  padding: 10px;
  margin: 20px;
  background-color: #d9d9d9ff;
}

body {
  background-color: #f3f3f3ff;
  font-family: Arial;
}

.button {
  background-color: #999999ff; 
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
}


.row input[type=text] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  background-color:#dddddd;
}

.search {
  margin-top: 0px;
  margin-left: 20px;
}

.search input[type=text] {
   width: 30%;
   margin-top:0px;
   margin-left:20px;
   background-color:#dddddd;
}


.form input[type=text] {
  width: 90%;
}

p {
  font-size: 14px;
}

table {
  border-collapse: collapse; 
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

div.output {             
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

